<%inherit file="../base.html"/>
<main>
  <section id="welcome" class="container my-5">
    <h2 class="text-center">Hãy chăm chỉ học Tiếng Anh</h2>
    <p class="text-center">
      Cách duy nhất để học giỏi tiếng Anh là chăm chỉ mỗi ngày
    </p>
  </section>
  <section id="flashcards" class="container my-5">
    <h2 class="text-center mb-4">Thẻ học Flashcards</h2>
    <p class="text-center mb-4">Chọn một chủ đề để bắt đầu:</p>
    <div class="d-flex justify-content-center">
      <a href="/flashcards/family" class="btn btn-primary mx-2"
        >Family - Gia đình</a
      >
      <a href="/flashcards/school" class="btn btn-primary mx-2"
        >School - Trường học</a
      >
      <a href="/flashcards/household_appliances" class="btn btn-primary mx-2"
        >Đồ đạc trong nhà</a
      >
      <a href="/flashcards/colour" class="btn btn-primary mx-2">Màu sắc</a>
      <a href="/flashcards/number" class="btn btn-primary mx-2">Số đếm</a>
      <a href="/flashcards/body" class="btn btn-primary mx-2">Cơ thể</a>
      <a href="/flashcards/demo" class="btn btn-primary mx-2">20 từ</a>
    </div>
  </section>
</main>
